<table>
  <tr>
    <a href=<%= new_image_path %> id="link_to_image_upload_form">
      <%= t :link_to_image_upload_form %>
    </a>
  </tr>

  <% @images.each_with_index do |image, index| %>
    <tr>
      <td>
        <img id="display_image<%= index %>" width='400' src="<%= image.url %>"><% if image.tag_list.any? %><a id="tags<%= index %>"><%= image.tag_list %></a><% end %>
      </td>
    </tr>
  <% end %>
</table>
