<table>
  <tr>
    <a href=<%= new_image_path %> id="link_to_image_upload_form">
      <%= t :link_to_image_upload_form %>
    </a>
  </tr>
  <% if @images.empty? %>
    <p><%= t :index_no_images_found %></p>
  <% end %>
  <% @images.each_with_index do |image, index| %>
    <tr>
      <td>
        <%= image_tag image.url, width: 400, id: "display_image#{index}" %>
        <% image.tag_list.each_with_index do |tag, tag_index| %>
          <%= link_to tag, images_path(tag: tag), class: "js-image_tag" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
