<h1 id="title">
  <%= t :image_upload_page_title %>
</h1>

<p id="errors">
  <%= @image.errors.full_messages.join(", ") if @image %>
</p>

<%= form_with url: {action: "create"} do |f| %>
  <p>
    <%= t :image_input_form_field_url_label %> <%= f.url_field :url, id: 'image_url'%>
  </p>
  <p>
    <%= t :image_input_form_field_tag_label %> <%= f.text_field :tag_list, id: 'image_tag_list'%>
  </p>
  <%= f.submit t(:image_input_form_field_submit_label), id: 'image_submit' %>
<% end %>
