<h1 id="title">
  <%= t :image_show_page_title%>
</h1>

<% if flash[:notice] %>
  <p id="notice"> <%= flash[:notice] %> </p>
<% end %>
<% if @image.tag_list.any? %>
  <a><%= t :image_input_form_field_tag_label %></a>  <a id="tags"><%= @image.tag_list %></a>
  <p>
<% end %>
  <img id="display_image" src="<%= @image.url %>">
</p>
